@import "/node_modules/normalize.css/normalize.css";

@import "modules/variables";
@import "modules/base";

.ui-div {
  background-color: rgb(185, 170, 170);
  margin: 0 auto;
  padding: 10px;
  margin-top: 0;
  outline: none;
}

#row {
  background-color: rgb(185, 170, 170);
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  margin-top: 20;
  outline: none;
}

#col {
  background-color: rgb(185, 170, 170);
  margin: 1 0px;
  padding: 10px;
  border-radius: 30px;
  margin-top: 20;
  outline: none;
}

#btn {
  padding: 10px;
  background-color: rgb(45, 59, 48);
  border-radius: 50px;
  color: aliceblue;
  outline: none;
}

#btn_build {
  padding: 10px;
  background-color: rgb(45, 59, 48);
  border-radius: 50px;
  color: aliceblue;
  outline: none;
}

#btn_test {
  padding: 10px;
  background-color: rgb(45, 59, 48);
  border-radius: 50px;
  border: none;
  color: aliceblue;
  outline: none;
}

#game {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.board {
  display: grid;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
  // transform: scale(0.5);
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #444;
  color: #fff;
  // border-radius: 5px;
  padding: 20px;
  // font-size: 150%;
}
